@import url('https://fonts.googleapis.com/css?family=Biryani|Nanum+Gothic+Coding&display=swap');

*{
  font-family: 'Biryani', sans-serif;
}

h2 {
  font-family: 'Nanum Gothic Coding', monospace !important;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.graph-side-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.side-container{
  display: flex;
  flex-direction: column;
  margin-top: 50px; 
  margin-left: 20px;
  margin-right: auto;
  max-height: 200px;
}

.select-country, .select-graph-unit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-option{
  margin: 10px;
  height: 30px;
  max-width: 170px;
  white-space:nowrap;
  text-overflow:ellipsis;
}

.select-graph-unit select{
  margin: 10px;
  height: 30px;
  width: 50px;
}

.graph{
  margin-left: auto;
  margin-right: 20px;
  height: 650px;
  width: 650px;
  max-height: 500px;
}

.label {
  width: 180px;
}


@media screen and (max-width: 800px) {

  .main-container, .graph-side-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .graph-side-container{
    flex-direction: column-reverse;
  }

  .side-container{
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
  }

  .select-option{
    font-size: 12px;
    max-width: 140px;
  }
  
  .graph{
    width: 100%;
    margin: 0px;
  }
}