.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-container select{
  margin: 10px;
  height: 30px;
  width: 210px;
}

.graph{
  margin-left: auto;
  margin-right: auto;
  height: 650px;
  width: 650px;
}
